{% extends "layout.html" %}

{% block pageTitle %}
  Your address
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Your address</h1>

      <form class="form" action="/contact-rep" method="post">

        <p>We'll send letters about the claim to this address.</p>

        <div class="govuk-form-group">
        <label class="govuk-label" for="organisation">
        Company or organisation
        </label>
        <input class="govuk-input" id="organisation" name="organisation">
        </div>

        <div class="govuk-form-group">
        <label class="govuk-label" for="address-line-1">
          Building name or number
        </label>
        <input class="govuk-input" id="address-line-1" name="address-line-1">
        </div>

        <div class="govuk-form-group">
        <label class="govuk-label" for="address-line-2">
          Street
        </label>
        <input class="govuk-input" id="address-line-2" name="address-line-2">
        </div>

        <div class="govuk-form-group">
        <label class="govuk-label" for="address-line-3">
          Town or city
        </label>
        <input class="govuk-input" id="address-line-3" name="address-line-3">
        </div>

        <div class="govuk-form-group">
           <label class="govuk-label" for="address-postcode">
             Postcode
           </label>
           <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode">
         </div>
         </div>
     </div>


        <button href="/claimant" role="button" class="govuk-button">Continue</button>

      </form>

    </div>

    <!-- <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Help
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                How to make a response
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside> -->

    </div>
  </div>

{% endblock %}
