{% extends "layout.html" %}

{% block pageTitle %}
  What is the case number?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">What is the case number?</h1>

      <form class="form" action="/claimant" method="post">

    <div class="govuk-form-group">
    <label class="govuk-label" for="case-number">

    You'll find this on the documents we sent you.

    </label>
    <input class="govuk-input govuk-input--width-10" id="case number" name="case number">
    </div>

        <button href="/claimant" role="button" class="govuk-button">Continue</button>

      </form>

    </div>

  <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Group claims
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
        <p class="govuk-list govuk-!-font-size-16">You need to enter the case number of the lead claimant.</p>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
