{% extends "layout.html" %}

{% block pageTitle %}
  Claimant's details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/acas" method="post">

      <h1 class="govuk-heading-l">Claimant's details</h1>

      <p>You need to check the details provided by the claimant. You'll find these in the documents we sent you.</p>

      <div class="govuk-form-group">
      <label class="govuk-label" for="claimant-first-name">
      First name
      </label>
      <input class="govuk-input govuk-input--width-20" id="claimant-first-name" name="claimant-first-name">
      </div>

      <div class="govuk-form-group">
      <label class="govuk-label" for="claimant-last-name">
        Last name
      </label>
      <input class="govuk-input govuk-input--width-20" id="claimant-last-name" name="claimant-last-name">
      </div>


        <button class="govuk-button">Continue</button>

      </form>

    </div>

    <!-- <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Help
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                How to make a response
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->
  </div>

{% endblock %}
