{% extends "layout.html" %}

{% block pageTitle %}
Response submitted
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Response submitted
          </h1>
          <div class="govuk-panel__body">
            Your reference
            <br><strong>142000123300</strong><br>
          </div>
        </div>

        <h3 class="govuk-heading-m">Your response</h3>
        <p class="govuk-body">We've sent a copy of your response to email@address.com. You can also <a href="#">download your response</a>.
        </p>
        <p>We have to submit your answers on an official form. Some questions may be worded slightly differently to the ones you answered online.</p>

        <h3 class="govuk-heading-m">What happens next</h3>

        <p>Your response has been sent to Bristol Civil and Family Justice Centre.</p>

        <p>They will aim to contact you within the next 7 days. If you need to contact them, email av-bristol.mc@justice.gov.uk or call 0117 930 2400.</p>

        <div class="govuk-inset-text">
        <p>You'll need your reference when you contact a court or tribunal.</p>
        </div>

        <!-- <p>If you have questions about the tribunals process, call the customer contact centre on 0300 123 1024 (or 0300 790 6234 if you're in Scotland).<p> -->

          <!-- <h3 class="govuk-heading-m">Your feedback</h3> -->

          <!-- <h3 class="govuk-heading-m">Your feedback</h3> -->


          <h3 class="govuk-heading-m">Your feedback</h3>

          <p>We'd like your feedback on this service so we can improve it.</p>

            <button class="govuk-button">Give feedback</button>



        </p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
