{% extends "layout.html" %}

{% block pageTitle %}
Response submitted
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Response submitted
          </h1>
          <div class="govuk-panel__body">
            Your reference
            <br><strong>142000123300</strong><br>
          </div>
        </div>

        <p class="govuk-body">We've sent a copy of the response to email@address.com. You can also <a href="#">download your response</a>.</p>
        <!-- <p class="govuk-body">{You can <a href="#">download a pdf</a>.}</p> -->

        <h3 class="govuk-heading-m">What happens next</h3>

        <p>Bristol Civil and Family Justice Centre will confirm receipt and ask for more information if they need it. If you don't hear anything in the next 7 days, contact them. The contact details are at www.gov.uk/find-court-tribunal</p>

        <div class="govuk-inset-text">
        <p>Remember to include your reference if you contact the tribunal.</p>
        </div>

        <p>If you have questions about the tribunals process, call the customer contact centre on 0300 123 1024 (or 0300 790 6234 if you're in Scotland).<p>

          <!-- <h3 class="govuk-heading-m">Your feedback</h3> -->

          <!-- <h3 class="govuk-heading-m">Your feedback</h3> -->


          <h3 class="govuk-heading-m">Your feedback</h3>

          <p>We'd like your feedback on this service so we can improve it.</p>

            <button class="govuk-button">Give feedback</button>



        </p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
