{% extends "layout.html" %}

{% block pageTitle %}
Response submitted
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Response submitted
          </h1>

          <div class="govuk-panel__body">
            Your case number
            <br><strong>1454321/2018</strong><br>
          </div>
        </div>


        <p>A copy of your response submitted on 5 June 2019 is attached.<p>

        <p>Your response has been sent to Bristol Civil and Family Justice Centre. If you need to contact them, email av-bristol.mc@justice.gov.uk or call <br>0117 930 2400.</p>

        <div class="govuk-inset-text">
        <p>You'll need to include or quote your case number.</p>
        </div>

        <p>We’d like your feedback on this service so we can improve it. Go to https://forexample/hmcts/feedback</p>

        <p>From,</p>

        <p>HM Courts & Tribunals Service</p>

      </div>
    </div>
  </main>
</div>

{% endblock %}
