{% extends "layout.html" %}

{% block pageTitle %}
  Are you making an employer's contract claim?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Are you making an employer's contract claim?</h1>

      <form class="form" action="/claimant" method="post">

<p>If a claim is for breach of contract, you may be able to make a counterclaim. This is known as an employer's contract claim.</p>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="defend-conditional-hint">
    <legend class="govuk-label">
    </legend>

    <div class="govuk-radios govuk-radios--inline" data-module="radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="defend-conditional-1" name="defend" type="radio" value="yes" data-aria-controls="conditional-defend-conditional-1">
        <label class="govuk-label govuk-radios__label" for="defend-conditional-1">
          Yes
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="defend-conditional-2" name="defend" type="radio" value="no" data-aria-controls="defend-conditional-2">
        <label class="govuk-label govuk-radios__label" for="defend-conditional-2">
          No
        </label>
      </div>

      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-defend-conditional-1" style="clear:both;">
        <div class="govuk-form-group">
          <label class="govuk-label" for="defend-number">
          Tell us the details of your employer's contract claim, including important dates
          </label>
          <p class="govuk-hint">Enter up to 4500 characters. You can upload a document with more details before you submit your response.</p>

          <input class="govuk-input" id="defend-number" name="defend-number" type="yes">
        </div>
      </div>

      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-defend-conditional-2">
        <div class="govuk-form-group">
          <input class="govuk-input" id="defend-reason" name="defend-reason" type="no">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<button class="govuk-button">Continue</button>

      </form>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Help
        </h2>

        <!-- <p class="govuk-list govuk-!-font-size-16">If this claim is for breach of contract, you may be able to make an employer's contract claim.</p> -->
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/765255/t423-eng.pdf">
                More about employer's contract claims
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
