{% extends "layout.html" %}

{% block pageTitle %}
  Are you making an employer's contract claim?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Are you making an employer's contract claim?</h1>

      <form class="form" action="/upload" method="post">

      <!-- <p class="gov.uk-hint">If this claim is for breach of contract, you may be able to make an <a href="#">employer's contract claim</a>.</p -->

        <div class="govuk-radios govuk-radios--conditional">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contract-claim-1" name="contract-claim" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="contract-claim-1">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contract-claim-2" name="contract-claim" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="contract-claim-2">
              No
            </label>
          </div>
          </div>
          <br></br>

        <button class="govuk-button">Save and continue</button>

      </form>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Help
        </h2>

        <p class="govuk-list govuk-!-font-size-16">If this claim is for breach of contract, you may be able to make an employer's contract claim.</p>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Find out more
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
