{% extends "layout.html" %}

{% block pageTitle %}
  Are the claimant's earnings correct?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Are the claimant's earnings correct?</h1>
      <form class="form" action="/pension" method="post">


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <label class="govuk-label" for="earnings">
              </label>
            </legend>

            <div class="govuk-radios govuk-radios--inline" data-module="radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="earnings-conditional-1" name="earnings" type="radio" value="yes" data-aria-controls="conditional-earnings-1">
                <label class="govuk-label govuk-radios__label" for="earnings-conditional-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden govuk-radios__conditional--align govuk-radios__conditional--margin-top" id="conditional-earnings-conditional-1">
                <div class="govuk-form-group">
                </div>

              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="earnings-conditional-2" name="earnings" type="radio" value="no" data-aria-controls="conditional-earnings-conditional-2">
                <label class="govuk-label govuk-radios__label" for="earnings-conditional-2">
                  No
                </label>
              </div>

              <div class="govuk-radios__conditional govuk-radios__conditional--hidden govuk-radios__conditional--align govuk-radios__conditional--margin-top" id="conditional-earnings-conditional-2">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="earnings-reason">
                  <p>Tell us the earnings you believe to be correct<br/>
                    <span class="govuk-hint">You must include things like overtime, commission and bonuses.</span>
                  </p>
                  </div>

                  <div style="margin-bottom:20px;">
                    <label>
                  <p>Pay before tax and national insurance are taken off</p>
                  </label>
                  <input class="govuk-input govuk-input--width-10" id="earnings-reason" name="earnings-reason" type="no">
                </div>

                <div class="govuk-radios govuk-radios--inline" data-module="radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="sites-conditional-1" name="sites" type="radio" value="yes" data-aria-controls="conditional-sites-conditional-1">
                    <label class="govuk-label govuk-radios__label" for="sites-conditional-1">
                      Weekly
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="sites-conditional-2" name="sites" type="radio" value="no" data-aria-controls="sites-conditional-2">
                    <label class="govuk-label govuk-radios__label" for="sites-conditional-2">
                      Monthly
                    </label>
                    </div>


                    <div style="clear:both; padding-top:15px;">
                    <label class="govuk-label" for="earnings-reason">
                    Take home pay (after tax and national insurance are taken off)
                    </label>
                    </div>
                  </div>

                  <div style="margin-bottom:30px;">
                    <input class="govuk-input govuk-input--width-10" id="earnings-reason" name="earnings-reason" type="no">
                  </div>

                  <div class="govuk-radios govuk-radios--inline" data-module="radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="sites-conditional-1" name="sites" type="radio" value="yes" data-aria-controls="conditional-sites-conditional-1">
                      <label class="govuk-label govuk-radios__label" for="sites-conditional-1">
                        Weekly
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="sites-conditional-2" name="sites" type="radio" value="no" data-aria-controls="sites-conditional-2">
                      <label class="govuk-label govuk-radios__label" for="sites-conditional-2">
                        Monthly
                      </label>
                  </div>
              </div>
            </div>
          </fieldset>
        </div>


        <button class="govuk-button">Continue</button>

      </form>

    </div>

    <!-- <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Help
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                How to make a response
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->
  </div>

{% endblock %}
