
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Prototype</span>
      <h1 class="govuk-heading-xl">
        Respond to an employment tribunal claim</h1>

        <p>Use this prototype to create, share and test enhancements.</p>

        <p>You can check patterns and code on the <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>.</p>

        <a href="/start-new" role="button" class="govuk-button">Go to prototype</a>


    </div>
</div>

{% endblock %}
