{% extends "layout.html" %}

{% block pageTitle %}
  Are the details about pensions and benefits correct?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Are the details about pensions and benefits correct?</h1>

      <form class="form" action="/contract" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <label class="govuk-label" for="benefits">
                <!-- <b>Are the details about pension and other benefits correct?</b> -->
                <p>For example a company car or medical insurance.</p>
              </label>
            </legend>

            <div class="govuk-radios govuk-radios--inline" data-module="radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="benefits-conditional-1" name="benefits" type="radio" value="yes" data-aria-controls="conditional-benefits-1">
                <label class="govuk-label govuk-radios__label" for="benefits-conditional-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-benefits-conditional-1">
                <div class="govuk-form-group">
                  <!-- <label class="govuk-label" for="contact-by-email">
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email"> -->
                </div>

              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="benefits-conditional-2" name="benefits" type="radio" value="no" data-aria-controls="conditional-benefits-conditional-2">
                <label class="govuk-label govuk-radios__label" for="benefits-conditional-2">
                  No
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-benefits-conditional-2" style="clear:both;">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="benefits-reason">
                    Tell us the details you believe to be correct
                  </label>
                  <p class="govuk-hint">Enter up to 350 characters. You can upload a document with more details before you submit your response.</p>

                  <textarea id="benefits-reason" class="govuk-textarea" name="benefits-reason" rows="8" cols="80"></textarea>
                </div>
              </div>
            </div>
          </fieldset>



        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="disability-conditional-hint">
            <legend class="govuk-label">
            </legend>

            </div>
          </div>


        <button class="govuk-button">Continue</button>

      </form>

    </div>

    <!-- <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Help
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                How to make a response
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->
  </div>

{% endblock %}
