{% extends "layout.html" %}

{% block pageTitle %}
  Representative's details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Representative's details</h1>
      <form class="form" action="/disability" method="post">

      <div class="govuk-form-group">
      <label class="govuk-label" for="organisation">
        Company or organisation
      </label>
      <p class="govuk-hint">Leave this blank if they don't have one.</p>
      <input class="govuk-input" id="organisation" name="organisation">
      </div>

      <!-- <div class="govuk-form-group">
      <label class="govuk-label" for="contact-name">
        Representative's full name
      </label>
      <input class="govuk-input" id="contact-name" name="contact-name">
      </div> -->

      <div class="govuk-form-group">
      <label class="govuk-label" for="address-line-1">
        Building name or number
      </label>
      <input class="govuk-input" id="address-line-1" name="address-line-1">
      </div>

      <div class="govuk-form-group">
      <label class="govuk-label" for="address-line-2">
        Street
      </label>
      <input class="govuk-input" id="address-line-2" name="address-line-2">
      </div>

      <div class="govuk-form-group">
      <label class="govuk-label" for="address-line-3">
        Town or city
      </label>
      <input class="govuk-input" id="address-line-3" name="address-line-3">
      </div>

      <div class="govuk-form-group">
      <label class="govuk-label" for="address-line-4">
      County (optional)
      </label>
      <input class="govuk-input" id="address-line-4" name="address-line-4">
      </div>

      <div class="govuk-form-group">
         <label class="govuk-label" for="address-postcode">
           Postcode
         </label>
         <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode">
       </div>

       <div class="govuk-form-group">
       <label class="govuk-label" for="contact-number">
       Phone number (optional)
       </label>
       <input class="govuk-input" id="contact-number" name="contact-number">
       </div>

       <div class="govuk-form-group">
       <label class="govuk-label" for="contact-number">
       Email (optional)
       </label>
       <span class="govuk-hint">We'll send a copy of the response to this email.</span>
       <input class="govuk-input" id="contact-number" name="contact-number">
       </div>

       <!-- <div class="govuk-form-group">
       <label class="govuk-label" for="mobile-number">
       Mobile number (optional)
       </label>
       <input class="govuk-input" id="mobile-number" name="mobile-number">
       </div> -->


       <div class="govuk-form-group">
       <label class="govuk-label" for="address-line-1">
       Document Exchange or DX number (optional)
       </label>
       <span class="govuk-hint">This is a special postal code often give to a solicitor's office.</span>
       <input class="govuk-input" id="document-exchange" name="document-exchange">
       </div>


       <div class="govuk-form-group">
       <label class="govuk-label" for="address-line-1">
       Reference (optional)
       </label>
       <input class="govuk-input" id="reference" name="reference">
       </div>

       <!-- <div>
                  <label class="govuk-label" for="contact-preference">
                     <b>How would you like us to contact your representative?</b>
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="contact-preference-1" name="contact-preference" type="radio" value="Email">
                      <label class="govuk-label govuk-radios__label" for="contact-preference-1">
                        Email
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="contact-preference-2" name="contact-preference" type="radio" value="Post">
                      <label class="govuk-label govuk-radios__label" for="contact-preference-2">
                        Post
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="contact-preference-3" name="contact-preference" type="radio" value="Fax">
                      <label class="govuk-label govuk-radios__label" for="contact-preference-3">
                        Fax
                      </label>
                    </div> -->
                  </div>
              </div>
      <br></br>


        <button class="govuk-button">Save and continue</button>

      </form>

    </div>

    <!-- <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Help
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                How to make a response
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->
  </div>

{% endblock %}
