{% extends "layout.html" %}

{% block pageTitle %}
  Respondent's details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Respondent's name</h1>

      <form class="form" action="/respondent-organisation" method="post">

    <div class="govuk-form-group">
    <label class="govuk-label" for="first-name">
    First name
    </label>
    <input class="govuk-input govuk-input--width-20" id="organisation" name="organisation">
    </div>

    <div class="govuk-form-group">
    <label class="govuk-label" for="last-name">
      Last name
    </label>
    <input class="govuk-input govuk-input--width-20" id="organisation" name="organisation">
    </div>


        <button href="/claimant" role="button" class="govuk-button">Continue</button>

      </form>

    </div>


    </div>
  </div>

{% endblock %}
