{% extends "layout.html" %}

{% block pageTitle %}
  Respondent's details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Respondent's details</h1>

      <form class="form" action="/defend" method="post">

        <p>The respondent is the person or organisation that the claim has been made against.</p>

    <div class="govuk-form-group">
    <label class="govuk-label" for="first-name">
    First name
    </label>
    <input class="govuk-input" id="organisation" name="organisation">
    </div>

    <div class="govuk-form-group">
    <label class="govuk-label" for="last-name">
      Last name
    </label>
    <input class="govuk-input" id="organisation" name="organisation">
    </div>

    <div class="govuk-form-group">
    <label class="govuk-label" for="organisation">
    Company or organisation
    </label>
    <input class="govuk-input" id="organisation" name="organisation">
    </div>

     <div class="govuk-form-group">
     <label class="govuk-label" for="number-of-people">
     How many people do they employ in England, Scotland and Wales?
     </label>
     <!-- <span class="govuk-caption-m">Enter digits only, for example 300.</span> -->
     <input class="govuk-input govuk-input--width-10" id="number-of-people" name="number-of-people">
     </div>

     <div class="govuk-form-group">
       <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
         <legend class="govuk-label">
           <label class="govuk-label" for="sites">
            Do they have more than one site in England, Scotland and Wales?
           </label>
         </legend>

         <div class="govuk-radios govuk-radios--inline" data-module="radios">
           <div class="govuk-radios__item">
             <input class="govuk-radios__input" id="sites-conditional-1" name="sites" type="radio" value="yes" data-aria-controls="conditional-sites-conditional-1">
             <label class="govuk-label govuk-radios__label" for="sites-conditional-1">
               Yes
             </label>
           </div>
           <div class="govuk-radios__item">
             <input class="govuk-radios__input" id="sites-conditional-2" name="sites" type="radio" value="no" data-aria-controls="sites-conditional-2">
             <label class="govuk-label govuk-radios__label" for="sites-conditional-2">
               No
             </label>
           </div>
           <div class="govuk-radios__conditional govuk-radios__conditional--hidden govuk-radios__conditional--align" id="conditional-sites-conditional-1">
             <div class="govuk-form-group">
               <label class="govuk-label" for="sites-number">
                 How many people are employed at the place the claimant worked?
               </label>
               <p class="govuk-hint">Enter digits only, for example 10.</p>

               <input class="govuk-input govuk-input--width-10" id="sites-number" name="sites-number" type="yes">
             </div>
           </div>
           <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-sites-conditional-2">
             <div class="govuk-form-group">
               <input class="govuk-input" id="sites-reason" name="sites-reason" type="no">
             </div>
           </div>
         </div>
       </fieldset>
     </div>

         </div>
     </div>


        <button href="/claimant" role="button" class="govuk-button">Continue</button>

      </form>

    </div>

    <!-- <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Help
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                How to make a response
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->
  </div>

{% endblock %}
