{% extends "layout.html" %}

{% block pageTitle %}
  Upload a document
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/check" method="post">

      <h1 class="govuk-heading-l">Upload a document</h1>
      <p>If you need to, you can upload a document with your full response. Your document must be saved as a rich text file (rtf).</p>

      <p>{Check upload patterns}</p>

      </div>
      </div>


      <button class="govuk-button">Continue</button>

      </form>

    </div>

    <!-- <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Help
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                How to make a response
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->
  </div>

{% endblock %}
